.header {
    // margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 64px;
    background-color: inherit;
    transition: background-color 0.3s ease;

    &.dark-theme {
        background-color: #181818;
        color: white;

        .header-title h3 {
            color: white;
        }

        .header-controls button {
            color: white;
        }

        .header-controls button:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .ant-switch-checked {
            background-color: #1890ff !important;
        }

        .ant-switch {
            background-color: #333;
        }
    }

    &.light-theme {
        background-color: #ffffff;
        color: black;

        .header-title h3 {
            color: black;
        }

        .header-controls button {
            color: black;
        }

        .header-controls button:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .ant-switch-checked {
            background-color: #1890ff !important;
        }

        .ant-switch {
            background-color: #1890ff !important;
        }
    }
}

.header-title {
    flex-grow: 1;

    h3 {
        font-size: 18px;
        margin: 0;
        padding-left: 10px;
    }
}

.header-controls {
    display: flex;
    align-items: center;


    .switch-group {
        padding: 12px;
        display: flex;
        gap: 12px;
    }

    .ant-switch {
        display: flex;
        align-items: center;
    }

    .ant-switch-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 2;

        .ant-switch-inner-unchecked {
            padding-top: 25px;
        }
    }

    .ant-switch-inner svg {
        font-size: 16px;
        vertical-align: middle;
    }

    .ant-switch-checked {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }
}